.container {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
}

.index {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 30px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMargin {
  margin: 20px 0px 20px 0px;
}

.remote {
  display: none;
}


